.form {
    text-align: right;
}

.form input {
    box-shadow: inset 0px 1px 4px 0px rgb(0, 0, 0, 0.6);
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #075c1f;
    border: 1px solid #075c1f;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #053f15;
    border-color: #053f15;
}

@media (width >= 500px) and (width <= 778px) {
   .form button {
        font-size: 12px;
        padding: 5px 10px;
    }
}

@media (width < 500px) {
    .form button {
        font-size: 13px;
        padding: 5px 12px;
    }
}