.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #075c1f;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
}

.button:last-child {
    margin-right: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button:hover,
.button:active {
    background-color: #053f15;
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.badge {
    margin: -20px -60px auto auto;
    background-color: #d81e1e;
    font-size: 12px;
    padding: 0.25rem 1rem;
    border-radius: 100px;
    font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
    background-color: #a61b1b;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@media (width <= 778px) {
    .button {
        font-size: 12px;
        padding: 5px 10px;
    }

    .icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
    }

    .badge {
        margin: -15px -20px auto auto;
        padding: 0.2rem 0.5rem;
    }
}

@media (width <= 400px) {
    .button {
        font-size: 12px;
        padding: 2px 5px;
    }

    .badge {
        margin: -10px -15px auto auto;
        padding: 0.2rem 0.5rem;
    }
}