.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #075c1f;
  color: white;
  padding: 0.75rem 3rem;
  border-radius: 25px;
  font-weight: bold;
  margin-right: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:last-child {
  margin-right: 0px;
  position: relative;
}

.button:hover,
.button:active {
  background-color: #053f15;
}

.icon {
  display: flex;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.badge {
  position: absolute;
  background-color: #ed3232;
  border-radius: 50%;
  font-weight: bold;
  height: 25px;
  width: 25px;
  font-size: 13px;
  padding: 3px;
  box-shadow: 0px 1px 4px 0px rgb(255, 0, 0, 0.9);
  top: -5px;
  right: -5px;
}

.button:hover .badge,
.button:active .badge {
  background-color: #a61b1b;
}

.bump {
  animation: bump 300ms ease-out;
}

.cartBtnText {
  display: block;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.7);
  }

  30% {
    transform: scale(1.4);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

@media (width >= 500px) and (width <= 778px) {
  .cartBtnText {
    display: none;
  }

  .button {
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 50%;
  }

  .icon svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0px;
  }

  .badge {
    top: -5px;
    right: -6px;
    height: 20px;
    width: 20px;
    font-size: 10px;
  }
}

@media (width < 500px) {
  .cartBtnText {
    display: none;
  }

  a {
    display: inline-block;
  }

  .button {
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 50%;
  }

  .badge {
    top: -5px;
    right: -7px;
    font-size: 10px;
    height: 20px;
    width: 20px;
  }

  .icon svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0px;
  }
}
